* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

.body {
  background-color: rgb(255, 238, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fill {
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
